$colorbg:blanchedalmond;
$espaciadoTitulo:7px;
$estiloTitulo:oblique;

* {
    margin:0%;
    padding:0%;
}
.grid {
 display: grid;
 grid-gap:20px;
 grid-template-columns:2fr;
 grid-auto-rows:repeat(4, auto);
 grid-template-areas: "grid__header grid__header" 
                      "grid__contenido grid__contenido"
                      "grid__footer grid__footer";
 background:$colorbg;
}
.grid .grid__header {
 grid-area: grid__header;
 background-color:gray;
    .navegacion{
     margin:auto;
	 width: 550px;
	 background:blanchedalmond;
     font-style: $estiloTitulo;
	 margin-top: -20px;
     margin-bottom:10px;
        ul{
         list-style: none;
            :hover .submenu{
             display: block;
            }
        }
    }
    .menu   {
        li{
	     position: relative;
	     display: inline-block;
           a{
             display: block;
             padding: 15px 20px;
             color: black;
             text-decoration: none;
             font-style:italic,bold;
             font-size: 20px;	
            }
            :hover{
             color:palevioletred;
            }
        }
    }
    .submenu{
      position:absolute;
	  background:blanchedalmond;
	  width: 130%;
	  display: none;
        li {
           a {
              display: block;
	          padding: 5px;
	          color:black;
	          text-decoration: none;
            }
        }
    }
    .logo{
        width: 170px;
        margin-left: 80px;
        margin-top: 10px;
        display: flex;
    }
    .titulo{ 
      color: pink;
      font-style:$estiloTitulo;
      font-size:110px;
      margin-left: 270px;
      margin-top: -140px;
      display: flex;
    }
}
.grid .grid__contenido {
 grid-area:grid__contenido;
   h1 {
     letter-spacing: $espaciadoTitulo;
     animation-duration: 1s;
     animation-name: aparecer;
     text-align: center;
     font-style: $estiloTitulo;
     color:grey;
    }
   section{
       iframe  {
         padding: 5px;
         margin-left:40px;
        }
    }
   div {
     padding:15px;
    }
    .carousel{
     margin-left: 150px;
     margin-top: -20px;
     width: 450px;
     display: flex;
    }
    .carousel-control-next-icon{
        margin-left: -40px;
    }
    .carousel-control-prev-icon{
        margin-right: -40px;
    }
    .welcome    {
        margin-left: 500px;
    }
    .text{
        color:palevioletred;
        margin-top: -580px;
        margin-left: 700px;
        margin-right: 200px;
        font-size: 20px;
    }

}
.grid .grid__contenido  {
    grid-area:grid__contenido;
    form    {
        text-align: left;
        margin-left: 480px;
        input{
            font-size: 15px;
            padding: 6px;
            font-style: italic;
            margin-left: 20px;
        }
    }
    .dato{
        text-align:center; 
        font: size 25px;
        color:palevioletred;
        font-style: italic;
    }
    .boton  {
        background-image: -webkit-linear-gradient(top,ivory,pink);
        margin-bottom: 10px;
        text-decoration: none;
        border-radius:black;    
    }
    .registrate {
        text-decoration: none;
        font-size: 15px;
        text-decoration: none;
        color:gray;
        :hover{
            color:palevioletred;
        }    
    }
    .sitemap .ul ,li .a  {
        text-decoration: none;
        list-style: none;
        font-size: 25px;
        text-align: center;
    }   
    .card   {
        background-color:papayawhip;
        color:black;
    }
    .cards   {
        background-color:bisque;
        color:black;
        padding: 7px;
        margin-left: 0px;
    }
    .accordion-button:not(collapsed) {
        color: palevioletred;
        background-color: peachpuff;
    }
    li{
        text-align: center;	
        a{
         color:palevioletred;
         text-decoration: none;
         font-size: 25px;
        }
        :hover{
            color:gray;
        }
    }
}
.contenido{
    p   {
      font-size:30px;
      color: grey;
      text-align: center;
      font-style: italic;
      padding-bottom: 10px;    
    }
    iframe  {
     margin-right: 10px;
     margin-left: 20px;
    }
}
section {
    margin-left: 80px;
    iframe  {
        align-items: center;
    }    
}
.grid .grid__footer   {
  grid-area: grid__footer;
  background-image: -webkit-linear-gradient(top,blanchedalmond,palevioletred); 
   footer{
     text-decoration: none;
     margin-left: 450px;
     display: flex;
    }
    nav{
        a{
         color:grey;
         text-decoration: none;
         font-style:italic;
        }
        :hover{
            color:palevioletred;
        }
        .a  {
            font-size: 17px;
        }
    }
    .redesSociales{
        width: 70px; 
        height: 70px; 
    }  
}
@media screen and (min-width: 320px) and (max-width:790px) {
    .grid   {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas:"grid__header grid__header"
                            "grid__contenido  grid__contenido"
                            "grid__contenido grid__contenido"
                            "grid__footer grid__footer"; 
    }
    .grid .grid__header {
        grid-area: grid__header;
        .navegacion{
            width: 520px;
        }
        .logo{
            width: 170px;
            margin-left: 10px;
            margin-top: 10px;
        }
        .titulo{ 
          font-size:110px;
          margin-left: 180px;
          margin-top: -140px;
        }
    }
    .grid .grid__contenido  {
        grid-area:grid__contenido;
        .carousel{
            align-items: left;
            margin-left: 60px;
            margin-top: -20px;
            width: 400px;
        }
        .carousel-control-next-icon{
            margin-left: -45px;
        }
        .carousel-control-prev-icon{
            margin-right: -45px;
        }
        .welcome    {
            margin-left: 50px;
        }
        .text{
            margin-top: 0px;
            margin-left: 0px;
            margin-right: 0px;
            font-size: 15px;
            align-items: center;
        } 
        .contenido{
            iframe  {
             margin-right: 40px;
             margin-left: 90px;
            }
        } 
        section {
            margin-left: 0px;
            iframe  {
                width: 200px;
                height: 150px;
            }    
        } 
        form    {
            text-align: left;
            margin-left: 100px;
        }
    }
    .grid .grid__footer   {
        grid-area: grid__footer;
        footer{
           margin-left: 30px;
        }
    }
}
@media screen and (max-width: 320px){
    .grid   {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas:"grid__header"
                            "grid__contenido"
                            "grid__contenido"
                            "grid__footer"; 
    }
    .grid .grid__header {
        grid-area: grid__header;
        width: 100%;
        .navegacion{
            width: 150px;
            margin-left: 80px;
            margin-top: 30px;
        }
        .menu   {
            li{
               a{
                 padding: 10px 15px;
                 font-size: 15px;	
                }
            }  
        }          
        .logo{
            width: 90px;
            margin-left: 0px;
            margin-top: 5px;
        }
        .titulo{ 
          font-size:50px;
          margin-left: 95px;
          margin-top: -65px;
        }
    }
    .grid .grid__contenido  {
        grid-area:grid__contenido;
        width: 100%;
        .carousel{
            margin-left: 25px;
            margin-top: -15px;
            width: 270px;
        }
        .carousel-control-next-icon{
            margin-left: -63px;
        }
        .carousel-control-prev-icon{
            margin-right: -63px;
        }
        .welcome    {
            margin-left: 0px;
        }
        .contenido{
            iframe  {
             margin-right: 0px;
             margin-left: 0px;
            }
        } 
        .cards  {
            display:contents;
            margin-right: 0px;
            margin-left: 0px;   
        }
        section {
            margin-left: 0px;
            iframe  {
                width: 200px;
                height: 150px;
            }    
        } 
        form    {
            text-align: left;
            margin-left: 100px;
        }
        p   {
            font-size:15px;
            padding-bottom: 5px;    
        }
        .text{
            display:contents;
            p {
            margin-top: -15px;
            font-size: 10px;
            margin-left: 0px;
            text-align: left;
            margin-right: 15px;
            } 
        } 
    }
    .grid .grid__footer   {
        grid-area: grid__footer;
        margin-left: -20px;
        margin-right: 10px;
        display: flex;
       .redesSociales{
            width: 50px; 
            height: 50px; 
        } 
        nav{
            .a  {
                font-size: 12px;
            }
        }
    } 
}    
